body {
  margin: auto 0;
  font-family: Roboto;
}

.h3 {
  font-family: Montserrat;
}

.border-radius{
  -moz-border-radius: 10px;
  border-radius: 0px 0px 10px 10px;
}

.intro-arc{
  display: inline-block;
  text-align: left auto;
  width: 100%;
}

.intro-container{
  font-family: Montserrat;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  padding: 0px 24px 10px 24px;
  color: white;
  background-color: #d64000;
}

.separator-container{
  height: 6px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.features-container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.how-to-use-grid{
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  /* grid-template-areas: 
  "how-to-use" "step"
  "how-to-use" "logos"
  "how-to-use" "step"
  "how-to-use" "logos"
  "how-to-use" "step"
  "how-to-use" "logos"; */
}

.how-to-use-grid__description{
  /* grid-area: how-to-use; */
  grid-row-start: 1;
  grid-row-end: 7;
  padding-right: 24px;
}

.how-to-use-grid__logos{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.how-to-use-grid__logos img{
  max-width: 100px;
  margin: 10px 24px;
}

.how-to-use-grid__logos{ 
 margin: 10px 24px;
}

.how-to-use-grid__step{ 
  display: flex;
  align-items: center;
 }

.number{
  font-size: 3.5em;
  color: #d64000;
  font-style: bold;
  margin-right: 10px;
}

.box > img {
  width: 60%;
}

.box {
  padding: 5px;
  margin: 10px;
}

.contact-container{
  font-family: Montserrat;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 24px 24px 0px;
  color: #555759;
}

.footer {
  padding: 20px 24px 0px 24px;
  display: inline-block;
  color:#FFF;
  background-color:#7DB2BF;
  width: 100%;  
}

.bottom-elipse.svg {
 filter: shadow (0 10 10 #000) 
}

#copyright {
    text-align: left auto;
    position: relative;
    margin-top: -40px;
  }
  
