body {
  margin: auto 0;
  font-family: Montserrat;
}

.btn-primary {
  background-color: #D64000;
  border-color: #D64000;
}

.btn-primary:hover {
  background-color: #852800;
  border-color: #852800;
}

.h3 {
  font-family: Montserrat;
}

.border-radius{
  -moz-border-radius: 10px;
  border-radius: 0px 0px 10px 10px;
}

nav.navbar-custom {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 3;
}

.nav-link{
  color: white;
}

@media (max-width:767px) {
  nav.navbar-custom{
    height: 80px;
   }
 }

@media (max-width:767px) {
  .navbar-brand img{
     height: 60px;
   }
 }

.links-container1{
  font-family: Montserrat;
  position: fixed;
  width: 80%;
  text-align: center;
  margin-left: 8.7%;
  margin-top: 20px;
  margin-bottom: 26px;
}

@media (max-width:767px) {
  .links-container1{
     visibility: hidden;
   }
 }

 #links1 a{
  font-size: 1rem;
  color: #fff;
  padding: 14px 14px;
  text-decoration: none;
}

#links1 a:hover {
    text-decoration: underline;
    color: #fff;
  }

  .elipse-container{
    font-family: Montserrat;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 24px 10px 24px;
    color: white;
    background-color: #d64000;
  }

  #top-elipse {
    position: relative;
    margin-top: 78px;
    margin-bottom: 10px;
    filter: drop-shadow(3px 3px 3px #000);
  }
  
  @media (max-width:767px) {
    #top-elipse {
      position: relative;
      margin-top: 36px;
    }
    .elipse-container {
      display: none;
    }
  }

 .links-container2{
  font-family: Montserrat;
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: -80px;
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .links-container2{
     display: none;
   }
 }

#links2 a{
font-size: 1rem;
text-align: center;
color: #fff;
padding: 0px 14px 0px 14px;
}

#links2 a:hover {
  text-decoration: underline;
  color: #fff;
}

.intro-container{
  font-family: Montserrat;
  font-size: 16pt;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
  padding: 40px 0px 24px 24px;
  color: white;
  background-color: #d64000;
}

@media (max-width:767px) {
  .intro-container {
    position: inline-block;
    width: 90%;
    padding-top: 90px;
  }
  #availability {
    padding-top: 20px;
  }
}

.available{
  width: 105px;
  display: in-block;
  text-align: right;
  margin-top: -20px;
  padding-right: 10px;
  font-size: 18px;
  background-color: #AE3400;
  border-top: #fff solid 1px;
  border-left:  #fff solid 1px;
  border-bottom: #fff solid 1px;
}

#summer{
  width: 105px;
  display: in-block;
  font-size: 18px;
  background-color: #852800;
  border-left:  #fff solid 1px;
  border-bottom: #fff solid 1px;
}

.year{
  font-size: 36px;
  line-height: 1.5rem;
  
}

.email-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 24px 20px 120px;
  background-image: url(images/contact-arrow.svg);
  background-repeat: no-repeat;
  max-width: 484px;
}

.email-container > p {
  margin-bottom: 4px;
  font-size: 1.2rem;
}

.email-container input[type=email] {
  margin-right: 0.2rem;
}

@media (max-width:767px) {
  .email-container {
    width: 90%;
    background-image: none;
    padding: 20px 24px;
    justify-content: center;
    text-align: center;
  }
  .email-container .form-group {
    width: 100%;
    margin-bottom: 0px;
  }
  .email-container input, .email-container button {
    margin-left: auto;
    margin-right: auto;
  }
  .email-container input {
    margin-bottom: 0.6rem;
  }
}

.comrad-grid{
    display: grid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* grid-template-areas: 
    "screenshot"
     */
  }
  
  .comrad-grid__screenshot{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .comrad-grid__screenshot img{
    width: 1000px;
    max-width: 100%;
    margin: 1rem 10px 10px;
    border: 1px solid #555759;
  }

@media (max-width:767px) {
   .comrad-grid{
      display: none;
    }
  }

.separator-container{
  height: 10px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.features-grid{
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  /* grid-template-areas: 
  "features" "list"
  "features" "button"
  "features" "title"
  "features" "list"
  "features" "button"
  "features" "title"
  "features" "list"
  "features" "button"
  "features" "title"
  "features" "list"
  "features" "button"
  "features" "title"
  "features" "list"
  "features" "button"
  "features" "title"
  "features" "list"; */
}

.features-grid__description{
  /* grid-area: features; */
  grid-row-start: 1;
  grid-row-end: 17;
  padding-right: 24px;
}

.features-grid__rule1{
  /* grid-area: features description; */
  padding-right: 24px;
  border-right: 1px solid #D64000;
  background-image: url(images/large-record.svg);
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width:767px) {
  .features-grid__rule1 {
  border-right: 0px solid #D64000;
  background-image: none;
  }
}

.features-grid__rule2{
  /* grid-area: features list; */
  border-right: 1px solid #D64000;
  padding-left: 10px;
  padding-right: 10px; 
}

@media (max-width:767px) {
  .features-grid__rule2 {
  border-right: none;
  }
}

.features-grid__button{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 18px;
  border-bottom: 1px solid #103090;
  cursor:pointer;
}

.features-grid__title{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 32px;
  padding-top: 6px;
  cursor: pointer;
}

@media (max-width:767px) {
  .features-grid__title h3 {
  font-size: 18px;
  }
}

.features-grid__list{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 18px;
    background-color: #FAF7E4;
    margin-top: -46px;
    padding-top: 40px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  @media (max-width:767px) {
    .features-grid__list {
    font-size: 18px;
    margin-top: -34px;
    padding-top: 30px;
    }
  }

.features-grid__list ul{
    list-style: none;
  }

.features-grid__list li::before{
    content: "•";
    font-size: 1.2em; 
    color: #7DB2BF;
    display: inline-block; 
    width: .8em;
    margin-left: -.8em;
  }

  @media (max-width:767px) {
    .features-grid {
    display: block;
    }
  }

.features-grid__button img{
    width: 12%;
    -webkit-transition: width 0.5s, -webkit-transform 2s; /* Safari */
    transition: width 0.25s, transform 0.25s;
}

.features-grid__button img:hover{
   width: 14%;
   -webkit-transition: width 0.5s, -webkit-transform 2s; /* Safari */
   transition: width 0.25s, transform 0.25s;
}

.how-to-use-grid{
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  /* grid-template-areas: 
  "how-to-use" "step"
  "how-to-use" "logos"
  "how-to-use" "step"
  "how-to-use" "logos"
  "how-to-use" "step"
  "how-to-use" "logos"; */
}

.how-to-use-grid__description{
  /* grid-area: how-to-use; */
  grid-row-start: 1;
  grid-row-end: 7;
  padding-right: 24px;
}

.how-to-use-grid__logos{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.how-to-use-grid__logos img{
  width: 150px;
  margin: 10px 24px;
}

.how-to-use-grid__logos{ 
 margin: 0px 24px;
}

#amazon{
  margin: 50px;
  padding: 30px;
}

.how-to-use-grid__step{ 
  display: flex;
  align-items: center;
}

.number{
  font-size: 3.5em;
  color: #d64000;
  font-style: bold;
  margin-right: 10px;
}

@media (max-width:767px) {
  .how-to-use-grid {
  display: block;
  }
}

@media (max-width:767px) {
  .how-to-use-grid__logos {
  display: block;
  text-align: center;
  }
}

@media (max-width:767px) {
  #amazon{
    width: 30%;
    margin: 5px;
    padding: 0px;
  }
}

.box > img{
  width: 60%;
}

.box{
  padding: 5px;
  margin: 10px;
}

.contact-container{
  font-family: Montserrat;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 24px 24px 24px 24px;
  color: #555759;
}

.contact-container a{
  text-decoration: underline;
  color: #720D5D;
}

.contact-container a:hover{
  text-decoration: underline;
  color: #720D5D;
}

.footer {
  padding: 20px 24px 0px 24px;
  display: inline-block;
  color:#FFF;
  background-color:#7DB2BF;
  width: 100%; 
}

.footer2{
  padding: 20px 24px 0px 24px;
  position: inline-block;
  color:#FFF;
  background-color:#7DB2BF;
  width: 100%;
  display: none;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer a:hover {
  color: #007283;
  text-decoration: underline;
}

.footer2 a {
  color: #fff;
  text-decoration: underline;
}

.footer2 a:hover {
  color: #007283;
  text-decoration: underline;
}

.footer-middle {
  filter: drop-shadow(3px -3px 3px #000);
  height: 100%;
}

.footer-copyright {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 5;
}

.footer-image {
  position: absolute;
  bottom: 0;
}

@media (max-width: 960px) {
  .footer-image {
    display: none;
  }

  .footer-copyright {
    position: relative;
    margin-top: 20px;
  }

  .footer-middle {
    filter: none;
  }

  #team {
    margin-bottom: 10px;
  }

  .footer {
    display: none;
  }  

  .footer2 {
    display: block;
    padding: 5px;
    }
  }

@media (max-width:767px) {
  .footer-content {
    flex-direction: column;
  }
}

@media (max-width:767px) {
  .col-3{
    max-width: 100%;
    text-align: center;
  }
}



#bottom-elipse {
  position: relative;
  margin-top: 30px;
  filter: drop-shadow(3px -3px 3px #000);
}

@media (max-width:767px) {
  #bottom-elipse {
    display: none;
    }
  }

#copyright {
    text-align: left auto;
    position: relative;
    margin-top: -30px;
  }

@media (max-width:767px) {
  #copyright {
    margin-top: 0px;
  }
}

